/* CONTACTO */
@import "mixinsextends";

.titulocontact {
  @extend .titulospag;
  margin-top: 200px;
  font-weight: 600;
}

.parrafocontacto {
  font-weight: 900;
  margin: auto;
  width: 500px;
  margin-top: 100px;
  @extend .textos-parrafos;
}

.parrafocontactodos {
  font-weight: 900;
  margin: auto;
  width: 500px;
  font-size: 25px;
  color: $Colortextosdos;
  margin-bottom: 80px;
  margin-top: 120px;
}

.redescontacto {
  margin-bottom: 200px;

  .redes_icon {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 100px;

  }

  a {
    color: darkseagreen;
    font-size: 50px;
    padding: 60px;
  }

  i:hover {
    color: $Colortextosuno;
    transform: translateY(-20%);
    transition: 1s;
  }
}

/* CONTACTO MEDIA QUARY */
@media screen and (max-width: 800px) {
  .parrafocontacto {
    width: 80%;
  }

  .parrafocontactodos {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .redescontacto {
    .redes_icon {
      margin-top: 30px;

    }
  }
}

@media screen and (max-width: 500px) {
  .parrafocontacto {
    width: 80%;
  }

  .parrafocontactodos {
    width: 100%;
  }

  .container {
    width: 90%;
  }
}