/* ENTRADAS */

@import "mixinsextends";


.entradas {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    padding: 40px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  

    .entradascontainer {
        
        .ent {
            margin: auto;
            margin-bottom: 50px;
            border-radius: 10px;
            font-weight: bold;
            padding: 20px;
            position: relative;
            overflow: hidden;
            @include background (transparent, center, cover);
            color: $Colortextosdos;
            @include tamanos (500px, 500px);
            max-width: 500px;


            .button {
                margin: auto;
                margin-top: 350px;
                background-color: $Colortextosuno;
                color: black;
                display: block;
                font-weight: 700;
                max-height: 300px;
                font-size: $Sizetextos;
                text-align: center;
                padding: 10px;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                border-radius: 5px;
                border: 1px solid #354f52;

                &:hover {
                    box-shadow: 0 0 10px #354f52;
                    transform: scale(1.090);
                }
            }

            h2 {
                font-weight: 500;
                margin-top: 10px;
                font-size: $Sizetextos (+ 10px);
                font-family: $Fontfamily;
                background-color: #354f5296;
            }

        }

    }
}

@media screen and (max-width: 768px) {
    .entradas .entradascontainer .ent {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .entradas .entradascontainer .ent {
        @include tamanos (100%, 100%);
       
        h2 {
            font-size: 20px;
            font-weight: 700;
            padding: 15px;
    
        }
    }
}