/* UBICACION */

.ubicacion {
    width: 100%;
    margin: auto;

    .titulo {
        @extend .titulospag;
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .parrafoubicacion {
        font-weight: 400;
        color: $Colortextosdos;
        font-family: $Fontfamily;
        letter-spacing: 1px;
        margin: auto;
        width: 500px;
        margin-top: 100px;

        .spanubicacion {
            color: $Colortextosdos;
            font-weight: 600;
        }
    }

    iframe {
        margin-top: 50px;
        margin-bottom: 120px;
    }
}

/* UBICACION MEDIA QUERY */

@media screen and (max-width: 1350px) {


    .redesconftres {
        position: static;
        margin-top: 60px;

        a {
            padding: 20px;
            display: inline-block;
        }
    }

    iframe {
        width: 80%;
    }
}


@media screen and (max-width: 670px) {

    .ubicacion {
        width: 90%;
        margin-top: 10px;

        .parrafoubicacion {
            width: 100%;
            font-size: 15px;

        }
    
        iframe {
            margin-top: 100px;
        }

    }
}