/* VARIABLES */

$Sizetitulo: 35px;
$Sizetextos: 15px;
$Sizetextosdos: 200px;
$Fontfamily: oswald;
$Fontfamilydos: montserrat;
$Colortextosuno: #c3d4c7;
$Colortextosdos: white;
$Colortextososcuro: #354f52;

/* CODIGO CSS  QUE SE APLICA POR IGUAL EN TODAS LAS PAGINAS */

@import "global";

/* NAVEGACION 8 */

@import "nav";

/* FOOTER */

@import "footer";

/* CODIGO CSS PAGINAS INDIVIDUALES */
/* INDEX */

@import "index";

/* UBICACION */

@import "ubicacion";

/*CARTELERA*/

@import "cartelera";

/* NUESTRAS SALAS */

@import "salas";

/* ENTRADAS */

@import "entradas";

/* SPOTIFY */

@import "spotify";

/* CONTACTO */

@import "contacto";

/* MIXINS Y EXTENDS */

@import "mixinsextends"